<footer class="page-footer font-small fundo-bg pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-dark titulo">Siga-nos nas redes sociais</h5>
            </div>
        </div>
   

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center"> 

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100072126651253" target="_blank" class="icoFacebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/tincapbr/" target="_blank" class="icoInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/tincap-tincap-09972a220/
                        " target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-footer text-center py-3">
        <span class="copyright">©️ 2021 Copyright: </span>
        <a class="copyright" target="_blank" href="https://tincap.herokuapp.com/swagger-ui/">TINCAP</a>
    </div>
</footer>