<!--SOBRE O PROJETO-->
<div class="container-fluid bg-sobre" id="sobreprojeto">

    <div class="row">
        <div class="col-md-5 text-left" style="margin-top: 10px; margin-left: 15px;">
            <a routerLink='/home'><img src="https://i.imgur.com/GjU7CR4.png" alt="Logo TINCAP"
                    style="width: 170px; height: 50px;"></a>
        </div>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <h1 class="titulo-sobre mt-5 text-block">SOBRE O PROJETO</h1>
            <div class="text-SN text-block2">
                <p class="paragrafos-sobre">Somos uma rede social que busca solucionar um problema que faz parte da
                    realidade de muitas pessoas,
                    a
                    pobreza em todas suas formas.
                </p>
                <p class="paragrafos-sobre">Nosso intuito é criar um laço entre famílias em situação de vulnerabilidade
                    social e empresas, que de
                    uma
                    forma positiva ambos os lados se beneficiaram.
                </p>
                <p class="paragrafos-sobre">O projeto foi criado e desenvolvido de acordo com o primeiro objetivo de
                    Desenvolvimento sustentável
                    (ODS) da
                    Organização
                    das Nações Unidas: a erradicação da pobreza, que tem como foco atuar diretamente nas causas
                    principais para que até 2030 seja reduzido pelo menos à metade da proporção de homens, mulheres e
                    crianças que vivem na pobreza extrema, em todas as suas dimensões.
                </p>
                <p class="paragrafos-sobre" style="margin-bottom: 130px;">Para você que se enquadra nessa condição de
                    vulnerabilidade ou se
                    identifica com nossos valores, faça
                    seu
                    cadastro e torne-se um contribuidor. Fique à vontade para navegar em nossa rede social e junte se a
                    nós!
                </p>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">

        <h1 class="titulo-ajude mt-5 mb-5 text-ent text-block3">ENTENDA COMO SUA AJUDA É IMPORTANTE</h1>

        <div class="col-md-10 d-flex justify-content-center text-block4 ">
            <div class="col-md-4">
                <h4 class="title">O que está acontecendo no Brasil com relação à pobreza?</h4>
                <p class="paragrafos card-text">A pandemia está tomando vidas e a esperança de muitas pessoas. Como se
                    não
                    bastasse
                    esse contexto desolador, o Brasil voltou ao mapa da fome.
                    Não é tolerável que <b>19 milhões de pessoas enfrentem o fantasma da fome cotidianamente no país.</b>
                </p>
                <p class="paragrafos card-text"> Acre, Pará e Tocantins foram os únicos estados brasileiros nos quais
                    não houve piora da pobreza entre novembro de 2019 e janeiro de 2021. É o que mostra estudo feito
                    pelo economista e pesquisador da Fundação Getúlio Vargas (FGV/Ibre) Daniel Duque.</p>
                <p class="paragrafos card-text">
                    A pesquisa concluiu que, em relação à população total, <b>houve aumento da pobreza em 23 estados e no
                    Distrito Federal.</b> Os dados refletem as consequências da pandemia de coronavírus na economia.</p>
                <p class="paragrafos card-text">
                    As maiores expansões da pobreza aconteceram no Rio de Janeiro, Distrito Federal e Roraima. No Rio de
                    Janeiro, o incremento foi de 6,9 pontos percentuais, passando de 16,9% em 2019 para 23,8% em 2021,
                    chegando a quase um quinto da população. <b>O Rio de Janeiro foi o segundo estado com a maior alta na
                    concentração da população mais pobre;</b> em primeiro lugar está o Distrito Federal, no qual a população
                    pobre foi de 12,9% para 20,8% no período.
                </p>
            </div>

            <div class="col-md-4">
                <h4 class="title mb">O que eu posso fazer para ajudar?</h4>
                <p class="paragrafos card-text ml-3">Não podemos ficar parados enquanto <b>12% dos brasileiros vivem
                    com menos
                    de R$246,00 por mês (segundo dados levantados pela Fundação Getúlio Vargas),</b> dinheiro que nós sabemos que não da para sobreviver, resultando em não ter o
                    que comer.
                
                    Temos que agir rápido! Por esse motivo, a TINCAP foi criada e desenvolvida para
                    viabilizar e intermediar o contato de famílias necessitadas a empresas contribuidoras, que irão
                    agregar com a distribuição de comida e itens básicos para uma <b>vivencia saudável</b>, minimizando assim
                    os impactos que essa situação está causando para diversas familias, e com isso, dando total apoio
                    para quem mais precisa. 

                <p class="paragrafos card-text">
                    Junto a empresas que se disponha a ajudar, estaremos distribuindo por
                    exemplo, cestas de alimentos e itens para o convívio estável, para pessoas que estão em <b>situação de
                    vulnerabilidade alimentar e passando fome no país.</b></p>
                

            </div>
        </div>
    </div>
</div>

<hr class="mt-5">

<!-- DESENVOLVEDORES -->
<div class="container-fluid mb-5">
    <section id="team">
        <div class="container p-4">
            <h5 class="titulo-equipe mt-3 mb-5 d-flex justify-content-center">DESENVOLVEDORES</h5>
            <div class="row">

                <!-- MEMBRO 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/nrKmpWe.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Alexandra, 24</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedora Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">Altruísta, autodidata, cursei multimídia pela ETEC JRM.
                                            Artista e representante afro-brasileira da American Aliance of Museums/
                                            Museu Afro Brasil/ Prince George's African American Museum. 2º Prêmio
                                            Municipal Educação
                                            em Direitos Humanos de SP. Em transição de carreira, realizei alguns cursos
                                            de tecnologia pela Alura, Digital House, SENAI e o Bootcamp da Generation.
                                        </p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="https://www.linkedin.com/in/alexandracelocce/" target=_blanck
                                                    class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/AlexandraCelocce" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 2 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/mdiquN8.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Taila, 20</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedora Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">
                                            Fiz ETEC de Nutrição, mas foi na tecnologia que eu realmente
                                            me identifiquei, e afim de aprimorar meus conhecimentos
                                            realizei 2 bootcamps, entre eles o da Generation.
                                            Atualmente estou cursando Analise e Desenvolvimento de Sistemas e
                                            tenho como hobbies a leitura e os jogos que exijam raciocinio lógico,
                                            pois estou sempre diante de desafios.</p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="https://www.linkedin.com/in/taila-ramos-2481261a2/"
                                                    target=_blanck class="social-link"><i
                                                        class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/tairamos" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/8gSLDty.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Jefferson, 26</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">Estudante de T.I, autodidata, com experiência de mais de 3
                                            anos
                                            na área de gestão de negócios com ênfase em pessoas, atuando como Conferente
                                            Líder.
                                            Entre minhas habilidades estão o conhecimento da metodologia Ágil e soft
                                            skills,
                                            resultando em grande facilidade para entender e transmitir contextos
                                            distintos,
                                            garantindo que nenhum ruído atrapalhe o objetivo final.</p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="https://www.linkedin.com/in/jefferson-soares-22103b208/"
                                                    target=_blanck class="social-link"><i
                                                        class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/Jefferson-devs" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/DvjBl8C.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">José, 24</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">Desenvolvedor Java Fullstack, cursando Bacharelado em
                                            Ciência e Tecnologia, Engenharia de Instrumentação, Automação e Robótica e
                                            Engenharia de Energia (UFABC), buscando sempre meu desenvolvimento pessoal e
                                            profissional através de novos desafios, que me possibilitem novos
                                            aprendizados e me tornem melhor a cada dia e através da tecnologia busco
                                            ajudar as pessoas.</p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="https://www.linkedin.com/in/jose-silva-araujo/" target=_blanck
                                                    class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/Jose-Araujo" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 5 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/NYrkHJH.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Paulo, 20</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text mt-4">Estudante autodidata que tem gosto por resolver
                                            problemas
                                            através da tecnologia. Formado em Gestão da Tecnologia da Informação, com
                                            experiência de dois anos como analista de suporte. Sempre buscando me
                                            aprimorar em
                                            habilidades comportamentais e técnicas. Além disso, sou amante de música,
                                            livros, games e investimentos nas horas vagas.</p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="https://www.linkedin.com/in/paulolopessilva/" target=_blanck
                                                    class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/Paulounk" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 6 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/ITcVGJA.png" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Gustavo, 20</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">Um amante da tecnologia, autodidata que desde sempre
                                            teve a
                                            curiosidade de saber como as coisas funcionam dentro dos computadores.
                                            Formado em Administração (SENAC), com experiência de dois anos na área
                                            administrativa,
                                            optei pela transição de carreira em busca de realizar o meu propósito.
                                            Sempre aprimorando as minhas habilidades comportamentais e técnicas.</p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="https://www.linkedin.com/in/gustavo-augusto-/" target=_blanck
                                                    class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/GuAugusto" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="mt-4" src="https://i.imgur.com/GjU7CR4.png" alt="Logo" style="width: 170px; height: 50px;">
            </div>
            <div class="col-sm-2">
                <h5>Paginas</h5>
                <ul>
                    <li><a routerLink='/home'>Home</a></li>
                    <li><a routerLink='/entrar'>Entrar</a></li>
                    <li><a routerLink='/cadastrar-familia'>Cadastro Familia</a></li>
                    <li><a routerLink='/cadastrar-empresa'>Cadastro Empresa</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Sobre-nós</h5>
                <ul>
                    <li><a href="#sobreprojeto">Sobre o Projeto</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Suporte</h5>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Telefones</a></li>
                    <li><a href="">Chat</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="https://www.linkedin.com/in/tincap-todos-inclusos-no-combate-%C3%A0-pobreza-09972a220/"
                        target="_blank" class="LinkedIn"><i class="fa fa-linkedin-square"></i></a>

                    <a href="https://www.instagram.com/tincapbr/" target="_blank" class="instagram"><i
                            class="fa fa-instagram"></i></a>

                    <a href="https://www.facebook.com/profile.php?id=100072126651253/" target="_blank"
                        class="facebook"><i class="fa fa-facebook-square"></i></a>

                </div>
                <a href="https://www.linkedin.com/in/tincap-todos-inclusos-no-combate-%C3%A0-pobreza-09972a220/">
                    <button type="button" class="btn btn-default">Contato</button>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>TINCAP® 2021. Todos os direitos reservados.</p>
    </div>
</footer>