<!--SOBRE O PROJETO-->
<div class="container-fluid bg-sobre">

    <div class="row">
        <div class="col-md-5 text-left" style="margin-top: 10px; margin-left: 15px;">
            <a routerLink='/home'><img src="https://i.imgur.com/GjU7CR4.png" alt="Logo TINCAP"
                    style="width: 170px; height: 50px;"></a>
        </div>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <h1 class="titulo-sobre mt-5">SOBRE O PROJETO</h1>

            <p>Somos uma rede social que busca solucionar um problema que faz parte da realidade de muitas pessoas,
                a
                pobreza em todas suas formas.
            </p>
            <p>Nosso intuito é criar um laço entre famílias em situação de vunerabilidade social e empresas, que de
                uma
                forma positiva ambos os lados se beneficiaram.
            </p>
            <p>O projeto foi criado e desenvolvido de acordo com as pautas apresentadas pela primeira ODS da
                Organização
                das Nações Unidas: a erradicação da pobreza, que tem como foco atuar diretamente nas causas
                principais,
                para que não falte alimento
                e educação para todes.
            </p>
            <p style="margin-bottom: 130px;">Para você que se enquadra nessa condição de vulnerabilidade ou se identifica com nossos valores, faça
                seu
                cadastro e torne-se um contribuidor. Fique à vontade para navegar em nossa rede social e junte se a
                nós!
            </p>

        </div>

    </div>

</div>




<!-- DESENVOLVEDORES -->
<div class="container-fluid mb-5">
    <section id="team">
        <div class="container p-4">
            <h5 class="titulo-equipe mt-5 mb-5 d-flex justify-content-center">DESENVOLVEDORES</h5>
            <div class="row">

                <!-- MEMBRO 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/nrKmpWe.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Alexandra, 24</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedora Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">Altruísta, auto de data, cursei multimídia pela ETEC JRM.
                                            Artista e representante afro-brasileira da American Aliance of Museums/
                                            Museu Afro Brasil/ Prince George's African American Museum. 2º Prêmio
                                            Municipal Educação
                                            em Direitos Humanos de SP. Em transição de carreira, realizei alguns cursos
                                            de tecnologia pela Alura, Digital House, SENAI e o Bootcamp da Generation.
                                        </p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="https://www.linkedin.com/in/alexandracelocce/" target=_blanck
                                                    class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/AlexandraCelocce" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 2 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/mdiquN8.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Taila, 20</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">Estudante de Análise e Desenvolvimento de Sistemas
                                            apaixonada por jogos e leitura,
                                            estando sempre empenhada em ampliar cada vez mais meu conhecimento.
                                            Por meio dos jogos desenvolvi fortemente o trabalho em equipe e o raciocínio
                                            lógico, além da motivação em buscar soluçoes para desafios propostos.
                                            </p>
                                        <ul class="social mb-0 list-inline text-right">
                                            <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                    href="" target=_blanck
                                                    class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a
                                                    href="https://github.com/tairamos" target=_blanck
                                                    class="social-link"><i class="fa fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/8gSLDty.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Jefferson, 26</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p class="card-text">Estudante de Tecnologia da Informação e experiência de mais
                                            de 3 anos na área de gestão de negócios pessoal e interpessoal. O meu
                                            principal skill sem sombra de dúvidas é a comunicação, tenho grande
                                            facilidade em
                                            entender e transmitir contextos distintos, garantindo que nenhum ruído
                                            atrapalhe o objetivo final.</p>
                                            <ul class="social mb-0 list-inline text-right">
                                                <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                        href="https://www.linkedin.com/in/jefferson-soares-22103b208/" target=_blanck
                                                        class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                                <li title="Confira meu GitHub" class="list-inline-item"><a
                                                        href="https://github.com/Jefferson-devs" target=_blanck
                                                        class="social-link"><i class="fa fa-github"></i></a></li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/DvjBl8C.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">José, 24</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text">Desenvolvedor Java Fullstack, cursando Bacharelado em
                                            Ciência e Tecnologia, Engenharia de Instrumentação, Automação e Robótica e
                                            Engenharia de Energia (UFABC), buscando sempre meu desenvolvimento pessoal e
                                            profissional através de novos desafios, que me possibilitem novos
                                            aprendizados e me tornem melhor a cada dia e através da tecnologia busco
                                            ajudar as pessoas.</p>
                                            <ul class="social mb-0 list-inline text-right">
                                                <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                        href="https://www.linkedin.com/in/jose-silva-araujo/" target=_blanck
                                                        class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                                <li title="Confira meu GitHub" class="list-inline-item"><a
                                                        href="https://github.com/Jose-Araujo" target=_blanck
                                                        class="social-link"><i class="fa fa-github"></i></a></li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 5 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/NYrkHJH.jpg" alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Paulo, 20</h5><span
                                            class="small text-uppercase text-muted">Desenvolvedor Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text mt-4">Estudante autodidata que tem gosto em resolver problemas
                                            através da tecnologia. Formado em Gestão da Tecnologia da Informação, com
                                            experiência de dois anos na área de suporte. Sempre buscando me aprimorar em
                                            habilidades comportamentais e técnicas. Além disso, sou amante de música,
                                            games e investimentos nas horas vagas.</p>
                                            <ul class="social mb-0 list-inline text-right">
                                                <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                        href="https://www.linkedin.com/in/paulolopessilva/" target=_blanck
                                                        class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                                <li title="Confira meu GitHub" class="list-inline-item"><a
                                                        href="https://github.com/Paulounk" target=_blanck
                                                        class="social-link"><i class="fa fa-github"></i></a></li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 6 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card bg-white rounded shadow-sm py-5 px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/ITcVGJA.png " alt="" width="100"
                                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Gustavo, 20</h5>Um amante da tecnologia, autodidata que desde sempre teve a
                                        curiosidade de saber como as coisas funcionam dentro dos computadores.
                                        Formado em Administração (SENAC), com experiência de dois anos na área
                                        administrativa,
                                        optei pela transição de carreira em busca de realizar o meu propósito.
                                        Sempre aprimorando as minhas habilidades comportamentais e técnicas.<span
                                            class="small text-uppercase text-muted">Desenvolvedora Fullstack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="card-text mt-4"></p>
                                            <ul class="social mb-0 list-inline text-right">
                                                <li title="Visite meu LinkedIn" class="list-inline-item mr-4"><a
                                                        href="https://www.linkedin.com/in/gustavo-augusto-/" target=_blanck
                                                        class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                                <li title="Confira meu GitHub" class="list-inline-item"><a
                                                        href="https://github.com/GuAugusto" target=_blanck
                                                        class="social-link"><i class="fa fa-github"></i></a></li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="page-footer font-small fundo-bg pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-dark titulo">Siga-nos nas redes sociais</h5>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100072126651253" target="_blank"
                            class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/tincapbr/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/tincap-todos-inclusos-no-combate-%C3%A0-pobreza-09972a220/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-footer text-center py-3">
        <span class="copyright">©️ 2021 Copyright: </span>
        <a class="copyright" target="_blank" href="https://tincap.herokuapp.com/swagger-ui/">TINCAP</a>
    </div>
</footer>