<!--SOBRE O PROJETO-->
<div class="container-fluid bg-sobre">

    <div class="row">
        <div class="col-md-5 text-left mt-3 ml-5">
            <img src="https://i.imgur.com/GjU7CR4.png" alt="Logo TINCAP" style="width: 150px;">
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-outline-warning btn-lg mt-3 mb-5" routerLink='/home'>Voltar</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">

            <div class="col-md-6">

                <h1 class="titulo-home">SOBRE O PROJETO</h1>

                <p>Somos uma rede social que busca solucionar um problema que faz parte da realidade de muitas pessoas, a pobreza em todas suas formas.
                </p>
                <p>Nosso intuito é criar um laço entre famílias em situação de vunerabilidade social e empresas, que de uma forma positiva ambos os lados se beneficiaram.
                </p>
                <p>O projeto foi criado e desenvolvido de acordo com as pautas apresentadas pela primeira ODS da Organização das Nações Unidas: a erradicação da pobreza, que tem como foco atuar diretamente nas causas principais, para que não falte alimento
                    e educação para todes.
                </p>
                <p>Para você que se enquadra nessa condição de vulnerabilidade ou se identifica com nossos valores, faça seu cadastro e torne-se um contribuidor. Fique à vontade para navegar em nossa rede social e junte se a nós!
                </p>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <section id="team bg-equipe" class="pb-5">
        <div class="container p-4">
            <h5 class="titulo-equipe text-center mt-5 mb-5">DESENVOLVEDORES</h5>
            <div class="row mb-5">

                <!-- MEMBRO 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4 py-0">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/nrKmpWe.jpg " alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Alexandra, 24</h5><span class="small text-uppercase text-muted">Desenvolvedora Full-Stack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card mt-1 mb-3">
                                    <div class="card-body text-center mt-4 py-0">
                                        <p class="card-text">Altruísta, auto de data, cursei multimídia pela ETEC JRM. Artista e representante afro-brasileira da American Aliance of Museums/ Museu Afro Brasil/ Prince George's African American Museum. 2º Prêmio Municipal Educação
                                            em Direitos Humanos de SP. Em transição de carreira, realizei alguns cursos de tecnologia pela Alura, Digital House, SENAI e o Bootcamp da Generation.</p>
                                        <ul class="social mb-0 list-inline mt-3">
                                            <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                            <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4 py-0">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/Ab3TiUx.png" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Gustavo, 20</h5><span class="small text-uppercase text-muted">Desenvolvedor Full-Stack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card mt-1 mb-3">
                                    <div class="card-body text-center mt-4 py-0">
                                        <p class="card-text">Um amante da tecnologia, autodidata que desde sempre teve a curiosidade de saber como as coisas funcionam dentro dos computadores. Formado em Administração (SENAC), com experiência de dois anos na área administrativa,
                                            optei pela transição de carreira em busca de realizar o meu propósito. Sempre aprimorando as minhas habilidades comportamentais e técnicas.
                                        </p>
                                        <ul class="social mb-0 list-inline mt-3">
                                            <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                            <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 py-0">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/DvjBl8C.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">José, 24</h5><span class="small text-uppercase text-muted">Desenvolvedor Full-Stack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card mt-1">
                                    <div class="card-body text-center mt-4 py-0">
                                        <p class="card-text">Desenvolvedor Java Fullstack, cursando Bacharelado em Ciência e Tecnologia, Engenharia de Instrumentação, Automação e Robótica e Engenharia de Energia (UFABC), buscando sempre meu desenvolvimento pessoal e profissional
                                            através de novos desafios, que me possibilitem novos aprendizados e me tornem melhor a cada dia e através da tecnologia busco ajudar as pessoas.</p>
                                        <ul class="social mb-0 list-inline mt-3">
                                            <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                            <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- MEMBRO 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 py-0">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/8gSLDty.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Jefferson, 26</h5><span class="small text-uppercase text-muted">Desenvolvedor Full-Stack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card mt-1">
                                    <div class="card-body text-center mt-4 py-0">
                                        <p class="card-text">Estudante de Tecnologia da Informação e experiência de mais de 3 anos na área de gestão de negócios pessoal e interpessoal. O meu principal skill sem sombra de dúvidas é a comunicação, tenho grande facilidade em
                                            entender e transmitir contextos distintos, garantindo que nenhum ruído atrapalhe o objetivo final.</p>
                                        <ul class="social mb-0 list-inline mt-3">
                                            <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                            <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MEMBRO 5 -->
                <div class="col-xs-12 col-sm-6 col-md-4 py-0">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card px-4">
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/NYrkHJH.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Paulo, 20</h5><span class="small text-uppercase text-muted">Desenvolvedor Full-Stack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card mt-1 mb-3">
                                    <div class="card-body text-center mt-4 py-0">
                                        <p class="card-text">Estudante autodidata que tem gosto em resolver problemas através da tecnologia. Formado em Gestão da Tecnologia da Informação, com experiência de dois anos na área de suporte. Sempre buscando me aprimorar em habilidades
                                            comportamentais e técnicas. Além disso, sou amante de música, games e investimentos nas horas vagas.</p>
                                        <ul class="social mb-0 list-inline">
                                            <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                            <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- MEMBRO 6 -->
                <div class="col-xs-12 col-sm-6 col-md-4 py-0">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card px-4">
                                    <div class="card-body text-center">
                                        <img src="https://imgur.com/mdiquN8.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                        <h5 class="mb-0">Taila, 20</h5><span class="small text-uppercase text-muted">Desenvolvedora Full-Stack</span>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card mt-1">
                                    <div class="card-body text-center mt-4 py-0">
                                        <p class="card-text">Estudante de Análise e Desenvolvimento de Sistemas apaixonada por jogos e leitura, estando sempre empenhada em ampliar cada vez mais meu conhecimento. Por meio dos jogos desenvolvi fortemente o trabalho em equipe
                                            e o raciocínio lógico, além da motivação em buscar soluçoes para desafios propostos.</p>
                                        <ul class="social mb-0 list-inline mt-3">
                                            <li title="Visite meu LinkedIn" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                            <li title="Conheça meu Instagram" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                            <li title="Confira meu GitHub" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-github"></i></a></li>
                                            <li title="Me mande um e-mail" class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope-o"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="page-footer font-small fundo-bg pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-dark titulo">Siga-nos nas redes sociais</h5>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100072126651253" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/tincapbr/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/tincap-tincap-09972a220/
                        " target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-footer text-center py-3">
        <span class="copyright">©️ 2021 Copyright: </span>
        <a class="copyright" target="_blank" href="https://tincap.herokuapp.com/swagger-ui/">TINCAP</a>
    </div>
</footer>