.bg-sobre {
    background-color: rgb(15, 15, 15);
}

.titulo-sobre {
    color: orange;
    font-size: 45px;
    letter-spacing: 5rem;
    text-transform: uppercase;
    padding: 2rem 1rem;
    position: absolute;
    padding: 2rem 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 35px;
    opacity: 0;
    animation: fadeIntext 3.0s 1.5s both;
}

.text-block {
    position: relative;
    overflow: hidden;
}

@keyframes fadeIntext {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    font-size: 25px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

@media (max-width: 1090px){
    p{
        font-size: 22px;
        width: 100vw;
    }
    .titulo-sobre{
        font-size: 35px;
    }
}

@media (max-width: 915px){
    p{
        font-size: 19px;
        width: 100vw
    }
    .titulo-sobre{
        font-size: 32px;
    }
}

@media (max-width: 350px){
    p{
        font-size: 16px;
        width: 100vw
    }
    .titulo-sobre{
        font-size: 30px;
        letter-spacing: 2px;
    }
}

/* -------------------------------------------------------------------------- */
/*             INICIO DA ESTILIZAÇÃO DA HOME-PAGE - SEGUNDA DOBRA             */
/* -------------------------------------------------------------------------- */

.card-text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.bg-equipe {
    background-image: url('https://i.imgur.com/GgeiHNX.png');
    background-size: cover;
    background-position: center;
}

.titulo-equipe {
    color: orange;
    font-size: 45px;
    letter-spacing: 5rem;
    text-transform: uppercase;
    padding: 2rem 1rem;
    position: absolute;
    padding: 2rem 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 35px;
    opacity: 0;
    animation: fadeIntextone 6.5s 3.5s both;
}

.text-bl2 {
    position: relative;
    overflow: hidden;
}


@keyframes fadeIntextone {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1090px){
    p{
        font-size: 22px;
        width: auto;
    }
    .titulo-equipe{
        font-size: 35px;
    }
}

.fundo-bg {
    background: #ffc107;
}

ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 0;
}

.fa {
    font-size: 35pt;
    color: black;
    padding: 10px;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-linkedin-square:hover {
    color: #0072b1;
}

.bg-footer {
    background-color: black;
}

.titulo {
    font-size: 18px;
}

.copyright {
    color: rgb(202, 202, 202);
}


#team .card {
    border: 1px solid orange;
    background: #ffffff;
}

.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside, .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card, .backside .card {
    min-height: 350px;
}

.backside .card a {
    font-size: 18px;
    color: #3E90CC !important;
}

.frontside .card .card-title, .backside .card .card-title {
    color: #3E90CC !important;
}

.frontside .card .card-body img {
    width: 150px;
    height: 150px;
}

.social-link {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    margin-top: 14px;
    margin-right: 20px;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.card-text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

/* ANIMAÇÃO DO TEXTO SOBRE NÓS */

.text-SN {
    color: white;
    position: absolute;
    text-align: center;
    opacity: 0;
    animation: fadeIntext2 6.5s 2.4s both;

}

.text-block2 {
    position: relative;
    overflow: hidden;
}

@keyframes fadeIntext2 {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
