.fs-12 {
    font-size: 12px;
}

.font-size-feed {
    font-size: 25px;
}

#menu li a {
    text-decoration: none;
    color: white;
}

#menu li a:hover {
    text-decoration: none;
    color: rgb(255, 149, 11);
}

.logo {
    margin-left: 5%;
    padding: 10px;
    margin: 0;
}

.bg-preto{
    background-color: rgb(36, 36, 36);
    color: black;
}

.logo img {
    width: 101px;
    height: 30px;
}

.fundo {
    background-color: rgba(224, 224, 224, 0.541);
    height: 100%;

}

.box {
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    background-color: white;
    padding: 50px;
    height: 700px;
    box-shadow: 0px 0px 5px #666;
    -webkit-box-shadow: 0px 0px 5px #666;
    -moz-box-shadow: 0px 0px 5px #666;
}


/*Raio das bordas do form*/

.form-control {
    background-color: white;
    font-size: 12pt;
    border-color: rgba(0, 0, 0, 0.4);
    color: black;
}


/*Alterações do placeholder*/

input::placeholder {
    color: rgba(0, 0, 0, 0.2)
}

.form-group {
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: rgb(255, 149, 11);
    box-shadow: 0 0 10px rgb(255, 167, 51);
}

.form-control-alinhamento {
    justify-content: end;
}

.cardtitulo {
    color: black;
}

.img-perfil {
    width: 140px;
    height: 135px;
    border-radius: 50%;
}

.form-control-pesquisar {
    width: 350px !important;
}

.card-postagem{
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(146, 146, 146);
    -webkit-box-shadow: 0px 0px 5px rgb(146, 146, 146);
    -moz-box-shadow: 0px 0px 5px rgb(146, 146, 146);
}

.card-columns {
    display: inline;
}

button {
    align-items: center;
    font-size: 12pt;
}

.btn-ajude{
    background-color: white;
    border: 2px solid orange;
    cursor: pointer;
    font-size: 14px;
}

.btn-ajude:hover{
    background-color: orange;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
}

textarea{
    border-radius: 5px;
    border: 1px solid rgb(252, 252, 252);
}

.box1{
    text-align: center;
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #666;
    -webkit-box-shadow: 0px 0px 5px #666;
    -moz-box-shadow: 0px 0px 5px #666;
}

.info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(230, 149, 0);
}