<nav class="navbar navbar-expand-lg navbar-light cor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto d-flex align-items-center">

            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-warning box">SOBRE NÓS</p>
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-warning box">CONTATO</p>
            </li>
        </ul>
    </div>
</nav>