.fundo {
    background-color: rgba(243, 243, 243, 0.541);
}

button {
    align-items: center;
    font-size: 12pt;
    width: auto;
}

.form-control:focus {
    border-color: rgb(255, 149, 11);
    box-shadow: 0 0 10px rgb(255, 167, 51);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.2)
}

.form-control {
    background-color: white;
    font-size: 12pt;
    border-color: rgba(0, 0, 0, 0.4);
    color: black;
}
