.bg-coluna {
    background-image: url(https://i.imgur.com/oEYK2P4.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.img-perfil {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.img-margin {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.text-size {
    font-size: 16pt;
}

button {
    font-size: 13pt;
    color: black;
    background-color: orange;
    width: 100%;
}

button:hover {
    background-color: rgb(255, 214, 137);
    border: 1px solid orange;
}

p {
    font-size: 16px;
}

a {
    color: rgb(230, 150, 2);
}


/*Raio das bordas do form*/

.form-control {
    background-color: white;
    border-radius: 0px;
    font-size: 12pt;
}

input::placeholder {
    color: grey;
}

.text-color-size-form {
    font-size: 14pt;
    color: rgb(0, 0, 0);
}

.teste {
    width: 100vw;
    height: 60px;
    text-align: center;
    background-color: grey;
}

.square {
    position: relative;
    min-height: 100vh;
    width: 423px;
    left: 0px;
    top: 0px;
    background: rgba(242, 155, 0, 0.35);
    z-index: 1;
}