/*Cor da coluna esquerda*/
.bg-coluna{
    background-image: url(https://i.imgur.com/NFqPshN.jpg);

    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Cor e tamanho do título da tela de cadastro*/
.text-color-size-title{
    font-size: 20pt;
    color: rgb(0, 0, 0);
}

/*Cor do texto do formulário*/
.text-color-size-form{
    font-size: 12pt;
    color: rgb(0, 0, 0);
}

/*Cor e texto do botão*/
button{
    align-items: center;
    font-size: 12pt;
    color: black;
    width: auto;
}
/*Cor das bordas e da sombra do form*/
.form-control:focus {
    border-color: rgb(255, 149, 11);
    box-shadow: 0 0 10px rgb(255, 167, 51);
}

/*Raio das bordas do form*/
.form-control{
    background-color: white;
    font-size: 12pt;
    margin-top: 5px;
    color: black;
}

.form-group{
    margin-bottom: 10px;
}

/*Alterações do placeholder*/
input::placeholder {
    color: rgba(0, 0, 0, 0.2)
} 

/*Box do form*/
.box{  
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

/*Coluna esqiuerda*/
.square {
    display: flex;
    position: relative;
    height: 100vh;
    width: 400px;
    background: rgba(242, 155, 0, 0.35);
    z-index: 1;
}
