header {
  background: rgba(26, 26, 26, 0.60);
  width: 100vh;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
}
  
.logo {
  margin-left: 5%;
  padding: 10px;
  margin: 0;
}
  
.logo img {
  width: 170px;
  height:50px;
}
  
.links {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 500px;
  margin-left: 10%;
}
  
.links a {
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid #71eed17a;
  font-size: 14px;
  margin-left: 18px;
  transition: .30s ease-in-out;
}
  
.links a:hover {
  text-decoration: none;
  border-bottom: 1px solid #71eed1;
  transform: translateY(-20%);
  transition: .30s ease-in-out all;
  color: #d3d3d37a;
}
  
.register {
  display: flex;
  margin-right: 15px;
  height: 45px;
}
  
.button-1 {
  text-align: center;
  background-color: #FFFFFF;
  color: black;
  padding: 8px;
  width: 115px;
  border-radius: 10px;
  margin-right: 10px;
  height: 40px;
}
  
a.button-1 {
  color: #000000;
  margin-left: 5px;
  text-decoration: none;
  transition: .3s ease-in-out;
}
  
a.button-1:hover {
  transform: scale(105%);
  background: linear-gradient(150deg, #ff5d5d, #fae46a);
}
  
.button-2 {
  text-align: center;
  background: linear-gradient(45deg, #fba505, #fba505);
  padding: 8px;
  width: 115px;
  border-radius: 10px;
  height: 40px;
}
  
a.button-2 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: .3s ease-in-out;
}
  
a.button-2:hover {
  transform: scale(105%);
  background: linear-gradient(150deg, #ff5d5d, #fae46a);
}
  
/* -------------------------------------------------------------------------- */
/*                     INICIO DA ESTILIZAÇÃO DA HOME-PAGE                     */
/* -------------------------------------------------------------------------- */
  
@keyframes slide {
  from { 
      transform: translateX(-50vw);
  }
  to { 
      transform: translateX(60vh);
  }
}

.banner {
  background: url('https://i.imgur.com/tGHe0MO.jpg');
  background-size:cover;
  background-position: 50%;
  max-height: 100vh;
  max-width: 100vw;
  display: block;
  position: relative;
}
  
.titulo{
  width: 90px;
}
  
.block{
  position: fixed !important;
}
  
.square {
  position: relative;
  min-height: 100vh;
  width: 423px;
  left: 0px;
  top: 0px;
  background: rgba(242, 155, 0, 0.35);
  z-index: 1;
}
  
.square img {
  margin-left: 222px;
  width: 200px;
}
  
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000; 
}
  
.nav {
  display: inline-flex;
  position: relative;
  width: 420px;
  margin-left: 50%;
  transform: translateX(-50%);
}
  
.nav a {
  text-transform: uppercase;
  display: flex;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid rgba(113, 238, 208, 0.4);
  margin-left: 30px;
  transition: .25s ease-in-out;
}
  
.nav a:hover {
  color: rgb(185, 185, 185);
  border-bottom: 1px solid #00FFC2;
  transform: translateY(-20%);
}
  
.conteudo {
  position: absolute;
  z-index: 100;
  top: 30%;
  margin-left: 4%;
}
  
.conteudo h2 {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50pt;
  letter-spacing: 2px;
  margin-bottom: 10px;
}